* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
  background-color: #121212;
  color: #ffffff;
}

main {
  height: 89vh;
}

.file-upload {
    position: relative;
    overflow: hidden;
}

.file-upload::file-selector-button {
    display: none;
}

.file-upload::before {
    content: 'Choose file';
    display: inline-block;
    padding: 10px 20px;
    border: 1px solid #007bff;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    text-align: center;
}

.file-upload:hover::before {
    background-color: #0056b3;
}

.center-div {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.form-container {
    background-color: #121212;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width: 300px;
}

.form-title {
    text-align: center;
    margin-bottom: 20px;
    color: #fff;
}

.form-label {
    font-weight: bold;
    margin-top: 10px;
    display: block;
    color: #fff;
}

.form-input {
    width: 100%;
    padding: 10px;
    margin: 8px 0 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

.form-button {
    width: 100%;
    padding: 10px;
    font-weight: bold;
    background-color: #28a745;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
}

.form-button:hover {
    background-color: #218838;
}

.form-link {
    display: block;
    text-align: center;
    font-weight: bold;
    margin-top: 15px;
    color: #007bff;
    text-decoration: none;
}

.form-link:hover {
    text-decoration: underline;
}

.navbar {
  background-color: #121212;
  padding: 1rem 0;
  height: 6vh;
  border-bottom: 1px solid #03a9f4;
}

.navbar-container {
  max-width: 1100px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
}

.navbar-logo {
  font-size: 1.5rem;
  font-weight: bold;
  color: #03a9f4;
  text-decoration: none;
}

.navbar-menu {
  display: flex;
  list-style: none;
}

.navbar-item {
  margin-left: 1rem;
  color: #fff;
  text-decoration: none;
  transition: color 0.3s ease;
}

.navbar-item:hover {
  color: #03a9f4;
}

.products-title {
  text-align: center;
  color: #03a9f4;
  margin-bottom: 2rem;
}

.products-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 2rem;
  padding: 20px 2rem;
  background-color: #121212;
}

.product-card {
  background-color: #121212;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  text-decoration: none;
  color: inherit;
}

.product-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.product-card article {
  padding: 1.5rem;
}

.product-title {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
  color: #03a9f4;
}

.product-category {
  font-size: 0.9rem;
  color: #ccc;
  margin-bottom: 0.5rem;
}

.product-price {
  font-size: 1.1rem;
  font-weight: bold;
  color: #fff;
  margin-bottom: 0.5rem;
}

.product-stock {
  font-size: 0.9rem;
  color: #888;
}

.product-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem;
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}

.product-image img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

h2 {
  color: #03a9f4;
}

.container {
  width: 100%;
  height: 100%;
  max-width: 450px;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
}

.login-form,
.register-form {
  background-color: #121212;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

input[type="email"],
input[type="password"] {
  width: 100%;
  padding: 0.75rem;
  border: 1px solid #03a9f4;
  border-radius: 4px;
  font-size: 1rem;
}

input[type="email"]:focus,
input[type="password"]:focus {
  outline: none;
  border-color: #0390d4;
}

.btn-login {
  width: 100%;
  padding: 0.75rem;
  background-color: #03a9f4;
  color: #fff;
  border: none;
  border-radius: 4px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn-login:hover {
  background-color: #0390d4;
}

.btn-add-new {
  background-color: #28a745;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn-add-new:hover {
  background-color: #218838;
}

.btn-delete {
  background-color: #dc3545;
  color: #fff;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-size: 14px;
}

.btn-delete:hover {
  background-color: #c82333;
}

.btn-edit {
  background-color: #007bff;
  color: #fff;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  text-decoration: none;
  transition: background-color 0.3s ease;
  font-size: 14px;
}

.btn-edit:hover {
  background-color: #0056b3;
}

.forgot-password {
  text-align: center;
  margin-top: 1rem;
}

.forgot-password a {
  color: #03a9f4;
  text-decoration: none;
}

.forgot-password a:hover {
  text-decoration: underline;
}

.navbar-logo {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.navbar-logo-image {
    height: 40px;
    margin-right: 10px;
}

.navbar-icon {
    margin-right: 5px;
    margin-bottom: 5px;
    font-size: 1.2em;
    color: #007bff;
}

table {
  width: 100%;
  border-collapse: collapse;
}

table,
th,
td {
  border: 1px solid #03a9f4;
}

th,
td {
  padding: 10px;
  text-align: center;
}

th {
  background-color: #03a9f4;
  color: #ffffff;
}

tr:nth-child(even) {
  background-color: #424242;
}

tr:nth-child(odd) {
  background-color: #121212;
}
