<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/css/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="icon" href="/public/assets/online-shopping.png" type="image/x-icon">
    <title>TUKSON Commerce</title>
</head>

<body>
    <nav class="navbar">
        <div class="navbar-container">
            <a href="/products" class="navbar-logo">
                <img src="/public/assets/online-shopping.png" alt="TUKSON Logo" class="navbar-logo-image">
                TUKSON Commerce
            </a>
            <ul class="navbar-menu">
                <li><a href="/products/admin" class="navbar-item">Dashboard</a></li>
                <li><a href="/users/login" class="navbar-item">Login</a></li>
            </ul>
        </div>
    </nav>

    <main>
        {{{body}}}
    </main>

    <footer>

    </footer>
    <script src="/public/js/deleteProd.js"></script>
</body>

</html>
